<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    <app-product-form></app-product-form>
    <div class="modal-footer">
        <button type="button" id="closeButton" class="btn btn-outline-dark" (click)="c('Close click')">Sluit dit venster</button>
    </div>
  </div>
</ng-template>
<span (click)="open(content)"><span>Bestel nu!</span></span>