
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: #3a3a3a;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1170px;
}

.button {
  background: none;
  height: 50px;
  border-radius: 3px;
  letter-spacing: 1px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}

/* Header */
#main-header {
  padding: 0.85em 0;
}

#main-header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#main-header .org, #main-header nav a {
  padding: 10px;
}
@media (min-width: 500px) {
  #main-header .org, #main-header nav a {
    padding: 10px 15px;
  }
}
#main-header .org {
  font-size: 1.35em;
  color: #3a3a3a;
}
#main-header nav a {
  font-size: 0.65em;
  text-transform: uppercase;
  color: #3a3a3a;
}
@media (min-width: 500px) {
  #main-header nav a {
    font-size: 0.95em;
  }
}

/* Intro  */
#intro {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em 0;
  background-image: url("../images/toonbank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
    
}
#intro .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff
}
#intro .top .splash {
  display: none;
}
@media (min-width: 500px) {
  #intro .top .splash {
    display: block;
    width: 200px;
  }
}

#intro .top h1, #intro .top p, #intro .top .button {
  text-align: center;
}
#intro .top h1 {
  margin: 0;
  font-size: 3.5em;
}
h2 {
  
  text-align: center;
  padding-top: 2em
}

/* Middle */

#middle {
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}
#middle article {
  background: #e8f5e9 ;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0.85em 1em;
  padding: 1em;
  border-radius: 3px;
}
#middle article:last-child {
  margin-bottom: 0;
}

#middle article p {
  margin: 0 0 1em;
  font-size: 0.95em;
  line-height: 24px;
  font-weight: 400;
}
#middle article p:last-of-type {
  margin-bottom: 3em;
}
#middle article .button {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: auto;
  padding: 10px 30px;
  box-shadow: inset 0 0 0 2px #66bb6a;
  color: #3a3a3a;

}
#middle article .button:hover {
  background: #66bb6a;
  color: #fff;
}
@media (min-width: 800px) {
  #middle {
    flex-direction: row;
  }
  #middle article {
    margin-bottom: 0;
  }
}

/* Bottom  */
#bottom {
  padding-top: 4em;
}

#bottom ul, #bottom ul li, ul li div {
  display: flex;
}
#bottom ul {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
#bottom ul li {
  background: rgba(0, 0, 0, 0.35);
  position: relative;
  flex-direction: column;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}
#bottom ul li:hover {
  background: rgba(0, 0, 0, 0);
}
@media (min-width: 500px) {
  #bottom ul li {
    flex: 50%;
  }
}
@media (min-width: 800px) {
  #bottom ul li {
    flex: 25%;
  }
}
#bottom ul li div {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

#bottom ul li img {
  position: relative;
  z-index: -1;
}

/* Footer */
#main-footer {
  background: #e8f5e9;
  flex: 1;
  padding: 2em 0;
  text-align: center;
}